<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Retailstore>
            <version>0.0.1</version>
        </Dever_Retailstore>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <dever_retailstore>
                    <file>dever/retailstore.xml</file>
                </dever_retailstore>
            </updates>
        </layout>
        <menu>
            <dever_retailstore module="dever_retailstore">
                <title>Stores</title>
                <sort_order>1</sort_order>
                <children>
                    <manage_retailstore module="dever_retailstore">
                        <title>Manage Retailstores</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/retailstore/</action>
                    </manage_retailstore>
                </children>
            </dever_retailstore>
        </menu>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dever_retailstore before="Mage_Adminhtml">Dever_Retailstore_Adminhtml</dever_retailstore>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <dever_retailstore>
                <class>Dever_Retailstore_Model</class>
                <resourceModel>dever_retailstore_resource</resourceModel>
            </dever_retailstore>
            <dever_retailstore_resource>
                <class>Dever_Retailstore_Model_Resource</class>
                <entities>
                    <retailstore>
                        <table>retailstores</table>
                    </retailstore>
                </entities>
            </dever_retailstore_resource>
        </models>
        <helpers>
            <dever_retailstore>
                <class>Dever_Retailstore_Helper</class>
            </dever_retailstore>
        </helpers>
        <blocks>
            <dever_retailstore>
                <class>Dever_Retailstore_Block</class>
            </dever_retailstore>
        </blocks>
        <resources>
            <dever_retailstore_setup>
                <setup>
                    <module>Dever_Retailstore</module>
                    <class>Dever_Retailstore_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dever_retailstore_setup>
            <dever_retailstore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dever_retailstore_read>
            <dever_retailstore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dever_retailstore_write>
        </resources>
    </global>
</config>