<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Oauth>
            <version>0.0.1</version>
        </Dever_Oauth>
    </modules>

    <global>
        <models>
            <oauth>
                <rewrite>
                    <token>Dever_Oauth_Model_Token</token>
                </rewrite>
            </oauth>
        </models>
    </global>
</config>