<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Notification>
            <version>0.0.1</version>
        </Dever_Notification>
    </modules>
    <global>
        <models>
            <dever_notification>
                <class>Dever_Notification_Model</class>
                <resourceModel>dever_notification_resource</resourceModel>
            </dever_notification>
            <dever_notification_resource>
                <class>Dever_Notification_Model_Resource</class>
                <entities>
                    <notification>
                        <table>notification_list</table>
                    </notification>
                </entities>
            </dever_notification_resource>
        </models>
        <helpers>
            <dever_notification>
                <class>Dever_Notification_Helper</class>
            </dever_notification>
        </helpers>
        <resources>
            <dever_notification_setup>
                <setup>
                    <module>Dever_Notification</module>
                    <class>Dever_Notification_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dever_notification_setup>
            <dever_notification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dever_notification_read>
            <dever_notification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dever_notification_write>
        </resources>
        <events>
            <log_notification_messages>
                <observers>
                    <log_notification_messages_observer>
                        <type>singleton</type>
                        <class>dever_notification/observer</class>
                        <method>logNotification</method>
                    </log_notification_messages_observer>
                </observers>
            </log_notification_messages>
        </events>
    </global>
</config>