<?xml version="1.0"?>
<config>
    <modules>
        <Dever_Customer>
            <version>0.0.3</version>
        </Dever_Customer>
    </modules>
    <global>
        <models>
            <dever_customer>
                <class>Dever_Customer_Model</class>
                <resourceModel>dever_customer_resource</resourceModel>
            </dever_customer>
             <dever_customer_resource>
                <class>Dever_Customer_Model_Resource</class>
                <entities>
                    <fcm>
                        <table>customer_fcm</table>
                    </fcm>
                </entities>
            </dever_customer_resource>
        </models>
        <resources>
            <dever_customer_setup>
                <setup>
                    <module>Dever_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dever_customer_setup>
            <dever_customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dever_customer_read>
            <dever_customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dever_customer_write>
        </resources>
    </global>
    <adminhtml>
        <events>
            <customer_save_before>
                <observers>
                    <validate_retailstore>
                        <type>singleton</type>
                        <class>Dever_Customer_Model_Observer</class>
                        <method>validateRetailstore</method>
                    </validate_retailstore>
                </observers>
            </customer_save_before>
        </events>
    </adminhtml>
</config>