<?xml version="1.0"?>
<config>
    <modules>
        <Cmsmart_AdminTheme>
            <version>0.2.0</version>
        </Cmsmart_AdminTheme>
    </modules>
    <global>
        <blocks>
            <cmsmart_admintheme>
                <class>Cmsmart_AdminTheme_Block</class>
            </cmsmart_admintheme>
            <adminhtml>
                <rewrite>
                    <dashboard>Cmsmart_AdminTheme_Block_Adminhtml_Block_Dashboard</dashboard>
                </rewrite>
                <rewrite>
                    <dashboard_graph>Cmsmart_AdminTheme_Block_Adminhtml_Block_Dashboard_Graph</dashboard_graph>
                </rewrite>
                <rewrite>
                    <sales_order_view>Cmsmart_AdminTheme_Block_Adminhtml_Block_Sales_Order_View</sales_order_view>
                </rewrite>
                <rewrite>
                    <dashboard_grids>Cmsmart_AdminTheme_Block_Adminhtml_Block_Dashboard_Grids</dashboard_grids>
                </rewrite>
                <rewrite>
                    <dashboard_orders_grid>Cmsmart_AdminTheme_Block_Adminhtml_Block_Dashboard_Orders_Grid</dashboard_orders_grid>
                </rewrite>
                <rewrite>
                    <system_config_edit>Cmsmart_AdminTheme_Block_Adminhtml_Block_System_Config_Edit</system_config_edit>
                </rewrite>
                <rewrite>
                    <catalog_category_edit_form>Cmsmart_AdminTheme_Block_Adminhtml_Block_Catalog_Category_Edit_Form</catalog_category_edit_form>
                </rewrite>
                <rewrite>
                    <catalog_category_tree>Cmsmart_AdminTheme_Block_Adminhtml_Block_Catalog_Category_Tree</catalog_category_tree>
                </rewrite>
                <rewrite>
                    <dashboard_tab_products_viewed>Cmsmart_AdminTheme_Block_Adminhtml_Block_Dashboard_Tab_Products_Viewed</dashboard_tab_products_viewed>
                </rewrite>
                <!-- <rewrite>
                    <permissions_user_edit_tab_main>Cmsmart_AdminTheme_Block_Adminhtml_Block_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                    <permissions_user_edit_form>Cmsmart_AdminTheme_Block_Adminhtml_Block_Permissions_User_Edit_Form</permissions_user_edit_form>
                </rewrite> -->
                <rewrite>
                    <system_config_form_fieldset>Cmsmart_AdminTheme_Block_Adminhtml_Block_System_Config_Form_Fieldset</system_config_form_fieldset>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cmsmart_admintheme>
                <class>Cmsmart_AdminTheme_Helper</class>
            </cmsmart_admintheme>
        </helpers>
        <models>
            <cmsmart_admintheme>
                <class>Cmsmart_AdminTheme_Model</class>
            </cmsmart_admintheme>
        </models>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <cmsmart_admintheme_admin_predispatch>
                        <class>Cmsmart_AdminTheme_Model_Adminhtml_Observer</class>
                        <method>setTheme</method>
                    </cmsmart_admintheme_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cmsmart_admintheme before="Mage_Adminhtml">Cmsmart_AdminTheme_Adminhtml</cmsmart_admintheme>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cmsmart_admintheme>
                    <file>cmsmart/admintheme.xml</file>
                </cmsmart_admintheme>
            </updates>
        </layout>
        <translate>
            <modules>
                <Cmsmart_AdminTheme>
                    <files>
                        <default>Cmsmart_AdminTheme.csv</default>
                    </files>
                </Cmsmart_AdminTheme>
            </modules>
        </translate>
        <themes>
            <default module="cmsmart_admintheme">
                <label>Default</label>
            </default>
            <admintheme module="cmsmart_admintheme">
                <label>Cmsmart Admin Theme</label>
            </admintheme>
        </themes>
    </adminhtml>
    <default>
        <cmsmart_admintheme>
            <config>
                <theme>admintheme</theme>
            </config>
        </cmsmart_admintheme>
    </default>
</config>
